# Ignore node_modules directory
node_modules/

# Ignore package lock file
package-lock.json

# Ignore package.json file (optional, depending on your project)
package.json

# Ignore config.js file
config.js
